body {
    height: 100%;
    background: cadetblue;
}

.body-content-container{
    display: flex;
    flex-direction: column;

}
.site-title{
    display: flex;
    justify-content: center;
    font-size: 50px;
    padding: 25px;
}
.content-container{
        display: flex;
        flex-direction: row;
}

.map{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 500px; 
    height: 300px;
    padding-left: 70px;

}

.news-container{
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    align-items: center;
    position: relative;
    left: 30%;
}

.news-box-title{
    display: flex;
    font-size: 30px;
    /* align-self: center; */
}

.news-headline{
    display: flex;
    /* flex-direction: row; */
    /* width: 40%; */
}

ul{
    text-align: center
}