
body {
    height: 100%;
    background: #107896;
    font-family: 'Hind Vadodara', sans-serif;
    /* height: 100vh;   */
}

.body-content-container{
    display: flex;
    flex-direction: column;
    height: 100vh;  

}
.site-title{
    display: flex;
    justify-content: center;
    font-size: 50px;
    padding: 20px;
    color: white;
    background: #093145;
}

.sub-title{
    text-align: center;
    font-size: 35px;
    color: white;
    background: #093145;
    padding-bottom: 17px;
}
.content-container{
        display: flex;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height:auto;
}

.map{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 794px;
    height: 600px;
}

.news-container{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 70px;
    height: 100%;
}

.news-box-title{
    display: flex;
    font-size: 25px;
    color: white;
    padding-top: 60px;
    padding-bottom: 15px;

    /* align-self: center; */
}

.selection-container{
    display: flex;
    flex-direction: row;
}

.category-label{
    color: #bfbbbb;
    padding-right: 20px;
}
.news-headline{
    display: flex;
    height: auto;
    height: 80%;
}
.news-ul{
    height: 100%;
    padding-top: 7px;
    overflow: auto;

}

li{
    line-height: 1.7;
}


.splash-page-footer{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #093145;
}
.link-ul{
    padding-top: 15px;
}
.profile-links{
    color: white;
    text-decoration: none;
}
.copy-right{
    padding-bottom: 20px;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #093145; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #093145; 
}