
body {
    height: 100%;
    background: #107896;
    font-family: 'Hind Vadodara', sans-serif;
}

.body-content-container{
    display: flex;
    flex-direction: column;
    height: 100vh;  
}
.nav-bar-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #093145;
    width: 100vw;
    color: white;
}
.site-title{
    display: flex;
    justify-content: center;
    font-size: 50px;
    padding: 20px;
    color: white;
    background: #093145;
}

.sub-title{
    text-align: center;
    font-size: 35px;
    color: white;
    background: #093145;
    padding-bottom: 17px;
}
.content-container{
        display: flex;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height:100%;
}

.map{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 794px;
    height: 500px;
}

.news-container{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 70px;
    height: 100%;
}

.news-box-title{
    display: flex;
    font-size: 25px;
    color: white;
    padding-top: 60px;
    padding-bottom: 15px;

    /* align-self: center; */
}

.selection-container{
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
}

.category-label{
    color: #bfbbbb;
    padding-right: 20px;
}
.news-headline{
    display: flex;
    height: auto;
    height: 80%;
    padding-bottom: 5px;
}
.news-ul{
    height: 100%;
    overflow: auto;
}

li{
    line-height: 1.7;
}


.splash-page-footer{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #093145;
}
.link-ul{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
}
.github-logo{
    font-size: 25px;
}
.linkedIn-logo{
    padding-left: 25px;
    font-size: 25px;
}

.profile-links{
    color: white;
    text-decoration: none;
}
.copy-right{
    padding-bottom: 15px;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #093145; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #093145; 
}
a{
    font-size: 15px;

}

@media (max-width: 1000px){
    .body-content-container{
        height: auto;
    }
    .site-title{
        font-size: 30px;
        padding: 10px;
    }
    .sub-title{
        font-size: 25px;
        padding-bottom: 10px;
    }
    .news-box-title{
        padding-top: 5px;
        font-size: 20px;
    }
    .news-container{
        padding-left: 0;
    }
    .content-container{
        display: flex;
        flex-direction: column;
    }
    li{
        line-height: 1.5;
    }
  
    .link-ul{
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    }
    .github-logo{
        font-size: 20px;
    }
    .linkedIn-logo{
        padding-left: 20px;
        font-size: 20px;
    }
    .copy-right{
        padding-bottom: 15px;
        font-size: 13px;
    }
    a{
        font-size: 13px;
    }

}